data/
.DS_Store
geckodriver.log
scraper_venv/



Data and Scraping/geckodriver.log
pro_venv/
Data and Scraping/Alex Dowsett/geckodriver.log
Data and Scraping/__pycache__/
Data and Scraping/helper.py
Data and Scraping/cookies.pkl
Data and Scraping/howmanydone.py
Data and Scraping/Robert Gesink/geckodriver.log
Analysis/__pycache__/
Analysis/test.py
Data and Scraping/fit_to_csv.py
Data and Scraping/Alex Dowsett/*/Icon
Data and Scraping/Robert Gesink/*/Icon
Data and Scraping/Chag Haga
*.html
helper.py
.DS_Store
Data and Scraping/.DS_Store
Data and Scraping/Robert Gesink/.DS_Store
test.csv


